/bin/
.classpath
.project
gameMaker/.settings
gameMaker/.settings/org.eclipse.core.resources.prefs
gameMaker/.settings/org.eclipse.core.resources.prefs
gameMaker/.settings/org.eclipse.core.resources.prefs
*.orig
gameMaker/.settings/org.eclipse.jdt.core.prefs
